body {
    background-color: #03070a;
    color: #d8d8d8;
}

.container {
    margin-top: 50px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
